.perfume1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume1 img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -60%);
}
.perfume1 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-170%, 40%);
}
.perfume2 {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume2 img {
    width: 350px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
}
.perfume2 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, 40%);
}
.perfume3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume3 img {
    width: 360px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, -60%);
}
.perfume3 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, 40%);
}
.perfume4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume4 img {
    width: 380px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-170%, 75%);
}
.perfume4 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-173%, 200%);
}
.perfume5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume5 img {
    width: 380px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, 75%);
}
.perfume5 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 200%);
}
.perfume6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.perfume6 img {
    width: 380px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, 75%);
}
.perfume6 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 380px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(64%, 200%);
}
